{{var "title" "首页"}}
{{var "styles"
    [
        "/styles/font-awesome.min.css",
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}
{{var "scripts"
    [
        "/scripts/lib/jquery-3.2.1.min.js",
        "/scripts/lib/moment.min.js",
        "/scripts/app/frame.js"
    ]
}}

{{~> common/header ~}}
{{~> common/nav  ~}}

<div class="block-main">
    <div class="panel">
        <div class="panel-header">
            <div class="tabs">
                <a class="active" href="#">默认</a>
                <a href="#">精华</a>
                <a href="#">最新</a>
                <a href="#">等待回复</a>
                <a href="#">问答</a>
                <a href="#">分享</a>
                <a href="#">招聘</a>
            </div>
        </div>
        <div class="panel-content">

            {{#if has_topic_list}}
                {{#each topic_list}}
                    <div class="topic">
                        <div class="avatar">
                            <a href="{{path}}/user/{{topic.author_name}}"><img src="{{topic.author_avatar_url}}"></a>
                        </div>
                        <div class="info">
                            <dl>
                                <dt>
                                    <span class="tag">{{topic.category_name}}</span>
                                    <a href="{{path}}/topic/{{topic.topic_id}}">{{topic.title}}</a>
                                </dt>
                                <dd>
                                    <span class="item"><a href="{{path}}/user/{{topic.author_name}}">{{topic.author_name}}</a> 发布于 <span class="datetime-ago" data-datetime="{{topic.create_time}}"></span></span>
                                    <span class="item">• <i class="reply-count">{{topic.comment_count}}</i> 个回复</span>
                                    <span class="item">• <i class="view-count">{{topic.view_count}}</i> 次浏览</span>
                                    {{#if comment.username}}
                                        <span class="item right">最后由 <a href="{{path}}/user/{{comment.username}}"><img src="{{comment.avatar_url}}"> {{comment.username}}</a> 回复于 <span  class="datetime-ago" data-datetime="{{comment.create_time}}"></span></span>
                                    {{/if}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="no-data">
                    暂无数据
                </div>
            {{/if}}



        </div>
        <div class="panel-footer">
            {{~> common/pagination ~}}
        </div>
    </div>
</div>

{{~> common/aside ~}}
{{~> common/footer ~}}