{{var "title" "登录"}}
{{var "styles"
    [
        "/styles/font-awesome.min.css",
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}
{{var "scripts"
    [
        "/scripts/lib/jquery-3.2.1.min.js",
        "/scripts/app/frame.js",
        "/scripts/app/validator.js",
        "/scripts/app/login.js"
    ]
}}

{{~> common/header ~}}
{{~> common/nav  ~}}

<div class="block-main">
    <div class="panel">
        <div class="panel-header">
            {{~> common/crumbs  ~}}
        </div>
        <div class="panel-content">
            <div class="frame-form" id="form-login">
                <div class="input-line">
                    <label><span class="required">*</span>用户名：</label>
                    <div class="input-wrapper"><input type="text" name="username" data-required="{'value': true, 'message': '用户名为必填项'}"></div>
                </div>
                <div class="input-line">
                    <label><span class="required">*</span>密码：</label>
                    <div class="input-wrapper"><input type="password" name="password" autocomplete="off" data-required="{'value': true, 'message': '密码为必填项'}" data-min-length="{'value': 6, 'message': '密码最少为6位'}" data-pattern="{'value': '^[a-zA-Z0-9]+$', 'message': '密码只能由英文字母和数字组成'}"></div>
                </div>
                <div class="help-line">
                    <div class="help-wrapper">
                        <a href="{{path}}/find-password">忘记密码？</a>
                    </div>
                </div>
                <div class="error-line" id="error-line">
                    <div class="error-wrapper">
                        <i class="fa fa-exclamation-circle"></i><span id="error-message">您输入的用户名或密码有误！</span>
                    </div>
                </div>
                <div class="btn-line">
                    <div class="btn-wrapper">
                        <a href="javascript:;" class="btn btn-primary" id="btn-login">登录</a> <a class="btn btn-primary" id="btn-github-login" href="{{github_login_path}}">通过 Github 登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{~> common/aside ~}}
{{~> common/footer ~}}