{{var "title" "设置新密码"}}
{{var "styles"
    [
        "/styles/font-awesome.min.css",
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}
{{var "scripts"
    [
        "/scripts/lib/jquery-3.2.1.min.js",
        "/scripts/app/frame.js",
        "/scripts/app/validator.js",
        "/scripts/app/new-password.js"
    ]
}}

{{~> common/header ~}}
{{~> common/nav  ~}}

<div class="block-main">
    <div class="panel">
        <div class="panel-header">
            {{~> common/crumbs  ~}}
        </div>
        <div class="panel-content">
            {{#if username}}
                <div class="frame-form" id="form-reset-password">
                    <div class="input-line">
                        <label><span class="required">*</span>新密码：</label>
                        <div class="input-wrapper"><input name="newPassword" id="new-password" type="password" autocomplete="off" data-required="{'value': true, 'message': '密码为必填项'}" data-min-length="{'value': 6, 'message': '密码最少为6位'}" data-pattern="{'value': '^[a-zA-Z0-9]+$', 'message': '密码只能由字母和数字组成'}"></div>
                    </div>
                    <div class="input-line">
                        <label><span class="required">*</span>重复新密码：</label>
                        <div class="input-wrapper"><input name="repeatNewPassword" type="password" autocomplete="off"  data-required="{'value': true, 'message': '重复密码为必填项'}" data-min-length="{'value': 6, 'message': '重复密码最少为6位'}" data-pattern="{'value': '^[a-zA-Z0-9]+$', 'message': '密码只能由字母和数字组成'}" data-equal="{'value': '#new-password', 'message': '重复新密码和新密码不一致'}"></div>
                    </div>
                    <div class="error-line" id="error-line">
                        <div class="error-wrapper">
                            <i class="fa fa-exclamation-circle"></i><span id="error-message">{{message}}</span>
                        </div>
                    </div>
                    <div class="btn-line">
                        <div class="btn-wrapper">
                            <a href="javascript:;" class="btn btn-primary" id="btn-reset-password">设置</a>
                        </div>
                    </div>
                    <input type="hidden" id="username" name="username" value="{{username}}">
                </div>
            {{else}}
                <div class="no-data">{{retrieve_message}}</div>
            {{/if}}
        </div>
    </div>
</div>

{{~> common/aside ~}}
{{~> common/footer ~}}