{{var "styles"
    [
        "/styles/font-awesome.min.css",
        "/styles/github-markdown.css",
        "/scripts/lib/high-light/styles/github.css",
        "/scripts/lib/editor/editor.css",
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}
{{var "scripts"
    [
        "/scripts/lib/jquery-3.2.1.min.js",
        "/scripts/lib/editor/editor.js",
        "/scripts/lib/high-light/highlight.pack.js",
        "/scripts/lib/moment.min.js",
        "/scripts/app/uploader.js",
        "/scripts/lib/markdown-it.min.js",
        "/scripts/app/mount-editor.js",
        "/scripts/app/frame.js",
        "/scripts/app/topic.js"
    ]
}}

{{~> common/header ~}}
{{~> common/nav  ~}}

<div class="block-main">
    <div class="panel">
        <article class="article">
            <div class="article-header">
                <div class="title">
                    <span class="tag">精华</span>
                    <h3>{{topic.title}}</h3>
                </div>
                <div class="info">
                    <span class="item">• 版块 <span class="tag tag-category">{{topic.category_name}}</span></span>
                    <span class="item">• 作者 <a href="{{path}}/user/{{author.username}}">{{author.username}}</a></span>
                    <span class="item">• 发布于 <span class="datetime-ago" data-datetime="{{author.create_time}}"></span></span>
                    <span class="item">• 最后一次编辑 <span class="datetime-ago" data-datetime="{{author.update_time}}"></span></span>
                    <span class="item">• {{comment_count}} 个回复</span>
                    <span class="item">• {{topic.view_count}} 次浏览</span>
                </div>
                <div class="operator operator-topic">
                    <div>
                        {{#if is_user_self}}
                            <span class="btn btn-edit"><i class="fa fa-edit"></i>编辑</span>
                            <span class="btn btn-delete"><i class="fa fa-trash"></i>删除</span>
                        {{/if}}
                        {{#if is_collected}}
                            <span class="btn btn-collect" id="btn-collect-topic" data-collected="true"><i class="fa fa-star"></i><span class="text">已收藏</span></span>
                        {{else}}
                            <span class="btn btn-collect" id="btn-collect-topic" data-collected="false"><i class="fa fa fa-star-o"></i><span class="text">收藏</span></span>
                        {{/if}}
                        {{#if is_agreed}}
                            <span class="btn btn-agree" data-agreed="true"><i class="fa fa-thumbs-up"></i><span class="text">已赞</span> <span class="num">{{topic.agree_count}}</span></span>
                        {{else}}
                            <span class="btn btn-agree" data-agreed="false"><i class="fa fa-thumbs-o-up"></i><span class="text">赞</span> <span class="num">{{topic.agree_count}}</span></span>
                        {{/if}}
                        {{#if is_disagreed}}
                            <span class="btn btn-disagree" data-disagreed="true"><i class="fa fa-thumbs-down"></i><span class="text">已踩</span> <span class="num">{{topic.disagree_count}}</span></span>
                        {{else}}
                            <span class="btn btn-disagree" data-disagreed="false"><i class="fa fa-thumbs-o-down"></i><span class="text">踩</span> <span class="num">{{topic.disagree_count}}</span></span>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="article-content">
                <div class="markdown-body">
                    <div class="markdown-text">{{{topic.content}}}</div>
                </div>
            </div>
        </article>
    </div>

    <input type="hidden" id="topic-id" name="topicId" value="{{topic.id}}">
    <input type="hidden" id="user-id" name="userId" value="{{user.id}}">

    <div class="panel">
        <div class="panel-header">
            <div class="title"><span>{{comment_count}}</span> 条回复</div>
        </div>
        <div class="panel-content">
            {{#if comment_count}}
                {{#each comments}}
                    <div class="comment {{#if is_highlight}}highlight{{/if}}">
                        <div class="avatar">
                            <a href="{{path}}/user/{{comment.username}}"><img src="{{comment.avatar_url}}"></a>
                        </div>
                        <div class="info">
                            <dl>
                                <dt>
                                <div class="comment-info">
                                <a href="{{path}}/user/{{comment.username}}" class="username">{{comment.username}}</a> • {{index}} 楼 • <span class="datetime-ago" data-datetime="{{comment.create_time}}"></span> {{#if is_author}}• <span class="tag">作者</span>{{/if}}
                                </div>
                                <div class="operator operator-comment" data-comment-id="{{comment.id}}">
                                    {{#if is_user_self}}
                                        <span class="btn btn-edit"><i class="fa fa-edit"></i> 编辑</span>
                                        <span class="btn btn-delete"><i class="fa fa-trash"></i> 删除</span>
                                    {{else}}
                                        <span class="btn btn-reply"><i class="fa fa fa-mail-reply"></i> 回复</span>
                                    {{/if}}
                                    {{#if is_agreed}}
                                        <span class="btn btn-agree" data-agreed="true"><i class="fa fa-thumbs-up"></i> <span class="text">已赞</span> <span class="num">{{comment.agree_count}}</span></span>
                                    {{else}}
                                        <span class="btn btn-agree" data-agreed="false"><i class="fa fa-thumbs-o-up"></i> <span class="text">赞</span> <span class="num">{{comment.agree_count}}</span></span>
                                    {{/if}}
                                    {{#if is_disagreed}}
                                        <span class="btn btn-disagree" data-disagreed="true"><i class="fa fa-thumbs-down"></i> <span class="text">已踩</span> <span class="num">{{comment.disagree_count}}</span></span>
                                    {{else}}
                                        <span class="btn btn-disagree" data-disagreed="false"><i class="fa fa-thumbs-o-down"></i> <span class="text">踩</span> <span class="num">{{comment.disagree_count}}</span></span>
                                    {{/if}}
                                </div>
                                </dt>
                                <dd>
                                    <div class="markdown-body">
                                        {{{comment.content}}}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="no-data">
                    暂无回复
                </div>
            {{/if}}
        </div>
    </div>

    <div class="panel">
        <div class="panel-header">
            <div class="title">添加回复</div>
        </div>
        <div class="panel-content">
            <div class="editor-wrapper">
                <div class="editor-wrapper-inner">
                    <textarea class="editor" id="reply-topic-editor"></textarea>
                </div>
                <div class="btn-line">
                    <span class="btn btn-primary" id="btn-reply-topic">回复</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{~> common/aside ~}}
{{~> common/footer ~}}