{{var "title" "登录"}}
{{var "styles"
    [
        "/styles/font-awesome.min.css",
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}
{{var "scripts"
    [
        "/scripts/lib/jquery-3.2.1.min.js",
        "/scripts/app/frame.js",
        "/scripts/app/validator.js",
        "/scripts/app/bind.js"
    ]
}}

{{~> common/header ~}}
{{~> common/nav  ~}}
<div class="block-main">

    <div class="panel">
        <div class="panel-header">
            <div class="crumbs">
                <a href="{{path}}">首页</a>
                <span class="divider">／</span>
                <span class="current">绑定用户</span>
            </div>
        </div>
        <div class="panel-content">
            <div class="frame-form" id="form-bind">
                <div class="input-line">
                    <label>用户名：</label>
                    <div class="input-wrapper"><input type="text" name="username" value="{{username}}" data-required="{'value': true, 'message': '用户名为必填项'}"></div>
                </div>
                <div class="error-line" id="error-line" style="display: block;">
                    <div class="error-wrapper">
                        <i class="fa fa-exclamation-circle"></i><span id="error-message">{{message}}</span>
                    </div>
                </div>
                <div class="btn-line">
                    <div class="btn-wrapper">
                        <a href="javascript:;" class="btn btn-primary" id="btn-bind">绑定</a>
                    </div>
                </div>
                <input type="hidden" id="user-info" name="userInfo" value="{{user_info}}">
            </div>
        </div>
    </div>
</div>

{{~> common/aside ~}}
{{~> common/footer ~}}