{{var "page_code" "home"}}
{{var "css" ["frame.css", "home.css"]}}

{{~> common/header ~}}

    {{page_code}}
    {{#each css}}
        {{@index}}. {{this}}
    {{/each}}
    <br>
    {{message}}
    <nav>
        {{#if user}}
        <a href="#">{{user.username}}</a>
        <a href="/logout">退出登录</a>
        {{else}}
        <a href="/login">登录</a>
        <a href="/register">注册</a>
        {{/if}}
    </nav>
    {{path}}
    {{static_path}}

    <form action="/upload" method="post" enctype="multipart/form-data">
      <input name="files" type="file" multiple>
        <input type="text" name="id">

      <button type="submit">上传</button>
    </form>


{{~> common/footer ~}}


<script type="text/javascript">
    $(function () {

        var uploader = new Uploader();

        uploader.show();
    });
</script>