<header class="frame-header">
    <div class="frame-wrapper">
        <div class="header-left">
            <a class="logo" href="{{path}}"><img src="{{static_path}}/images/logo.png"></a>
            <nav>
                <a href="{{path}}">首页</a>
                <a href="{{path}}/resource">资源</a>
            </nav>
        </div>
        <div class="header-right">
            <form class="search" method="get" action="{{path}}/search">
                <input class="input-search" type="search" name="keyword" placeholder="请输入关键字">
                <a class="btn btn-search" href="javascript:;"><i class="fa fa-search"></i></a>
            </form>
            <nav>
                {{#if user}}
                    <a href="{{path}}/create-topic">发布话题</a>
                    <a href="{{path}}/{{user.username}}/message/unread">未读消息{{#if has_unread_message}}<i class="icon icon-red-dot"></i>{{/if}}</a>
                    <a href="{{path}}/user/{{user.username}}">{{user.username}}</a>
                    <a href="{{path}}/logout">退出</a>
                {{else}}
                    <a href="{{path}}/register">注册</a>
                    <a href="{{path}}/login">登录</a>
                {{/if}}
            </nav>
        </div>
    </div>
</header>

<header class="m-frame-header">
    <a href="javascript:;" class="btn btn-menu" id="m-btn-menu"><i class="fa fa-navicon"></i></a>
    <div class="box-btns">
        {{#if user}}
            <a class="btn" href="{{path}}/{{user.username}}/message/unread">未读消息{{#if has_unread_message}}<i class="icon icon-red-dot"></i>{{/if}}
            <a class="btn" href="{{path}}/create-topic">发布话题</a>
        {{else}}
            <a class="btn" href="{{path}}/register">注册</a>
            <a class="btn" href="{{path}}/login">登录</a>
        {{/if}}
    </div>
    <div class="title">
        <a href="{{path}}"><img src="{{static_path}}/images/logo_short.png"></a>
    </div>
</header>

<div class="m-nav-bg" id="m-nav-bg"></div>
<nav class="m-nav" id="m-nav">
    <a href="{{path}}"><span class="icon"><i class="fa fa-home"></i></span> 首页</a>
    <a href="{{path}}/resource"><span class="icon"><i class="fa fa-file-text"></i></span> 资源</a>
    {{#if user}}
        <a href="{{path}}/user/{{user.username}}"><span class="icon"><i class="fa fa-user-circle"></i></span> 用户中心</a>
        <a href="{{path}}/logout"><span class="icon"><i class="fa fa-sign-out"></i></span> 退出</a>
    {{/if}}
</nav>

<section class="frame-content">
    <div class="frame-wrapper">
        <div class="m-search">
            <form class="search" method="get" action="{{path}}/search">
                <input class="input-search" type="search" name="keyword" placeholder="请输入关键字">
                <a class="btn btn-search" href="javascript:;"><i class="fa fa-search"></i></a>
            </form>
        </div>